* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "OpenSans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Volkhov";
  font-size: 84px;
  line-height: 89px;
  font-weight: 700;
  color: #181E4B;
}

h2 {
  font-family: "Volkhov";
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  color: #14183E;
}

h3 {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
  color: #5E6282;
}

h4 {
  font-family: "OpenSans";
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: #1E1D4C;
}

h5 {
  font-family: "Poppins";
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
  color: #181E4B;
}

.p_service {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #5E6282;
}

.p_subscribe {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  color: #5E6282;
}

.p_foot_head {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #5E6282;
}

.p_foot_title {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #181E4B;
}

.p_foot_list {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #5E6282;
}

.p_foot_social {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #5E6282;
  letter-spacing: 0.005em;
}

.p_foot_copyright {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #5E6282;
}

.p-header-heading {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #DF6951;
}

.p-header-description {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #5E6282;
}

.p-header-nav {
  font-family: "Poppins";
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: #212832;
}

.btn-play-text {
  font-family: "Poppins";
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: #686D77;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./../../fonts/OpenSans-Medium.ttf);
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./../../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./../../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./../../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./../../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./../../fonts/Volkhov-Bold.ttf);
}
@font-face {
  font-family: "GoogleSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../fonts/GoogleSans-Regular.ttf);
}
@font-face {
  font-family: "GoogleSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./../../fonts/GoogleSans-Medium.ttf);
}
.btn__tertiary {
  font-family: "OpenSans";
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  max-width: 18rem;
  padding: 2rem 4rem;
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  border: none;
  font-size: 1.6rem;
  line-height: 1.8rem;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .btn__tertiary {
    font-size: 1.7rem;
    line-height: 2.3rem;
    padding: 2rem 5rem;
  }
}
.btn-header {
  max-width: 10.2rem;
  padding: 0.9rem 2.1rem;
  background-color: transparent;
  font-family: "GoogleSans";
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
  color: #212832;
  color: #212832;
  border: 1px solid #212832;
  border-radius: 5px;
  cursor: pointer;
}
.btn-header--no-border {
  border: none;
}
.btn-header--yellow {
  max-width: 17rem;
  padding: 18px 26px;
  background-color: #F1A501;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #fff;
  border: none;
}

.btn-play {
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 26px;
  border: none;
  background-color: #DF6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}
.btn-play::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 22px;
  width: 12px;
  height: 15px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: #fff;
}

.container {
  position: relative;
  max-width: 124rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.category__services__list__item {
  margin-top: 10rem;
  max-width: 23rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}
.category__services__list__item h4 {
  margin-top: 2.9rem;
}
.category__services__list__item p {
  margin-top: 1.5rem;
}
.category__services__list__item:hover {
  background: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
}

.social-icon {
  width: 16px;
  height: 16px;
}

.instagram {
  fill: #fff;
  background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
}

.menu {
  width: 35px;
  height: 35px;
  fill: #000;
}

.subscribe__info__input {
  margin: 0 auto;
  max-width: 75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.subscribe__info__input .input__contact {
  width: 22rem;
  background: #fff;
  padding: 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.subscribe__info__input .input__contact::placeholder {
  padding-left: 4rem;
  color: #39425D;
}
.subscribe__info__input .label {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  cursor: text;
}
.subscribe__info__input .label img {
  color: #39425D;
  width: 15px;
}
.subscribe__info .input__contact:not(:placeholder-shown) + .label {
  opacity: 0;
}
.subscribe__info .input__contact:focus {
  outline: none;
}
.subscribe__info .input__contact:focus:invalid {
  background: rgba(237, 50, 8, 0.4);
}
.subscribe__info .input__contact:required:valid {
  background: rgba(111, 243, 111, 0.4);
}

.blot {
  background-image: url("./../../img/header/Decore.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

@media screen and (min-width: 700px) {
  .blot {
    background-size: auto;
  }
}
.underscore {
  position: relative;
}
.underscore::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -35px;
  z-index: -1;
  width: 385px;
  height: 12px;
  background-image: url(/img/header/underscore.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: false;
}

.header {
  padding-top: 2rem;
  margin-bottom: 10rem;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.header__nav__list {
  display: none;
}
.header__nav__login {
  display: none;
}
.header__nav .menu {
  width: 35px;
  height: 35px;
  fill: #686D77;
  cursor: pointer;
}
.header__content__wrap {
  max-width: 42.5rem;
}
.header__content__wrap .p-header-heading {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.header__content__wrap .h1 {
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 1rem;
}
.header__content__wrap .h1 .underscore::before {
  bottom: 0px;
  left: -20px;
  width: 200px;
  height: 12px;
}
.header__content__wrap .p-header-description {
  font-size: 14px;
  margin-bottom: 3rem;
}
.header__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 2rem;
}
@supports not (row-gap: 2rem) {
  .header__buttons > * {
    margin-bottom: 2rem;
  }
  .header__buttons > *:last-child {
    margin-bottom: 0;
  }
}
.header__buttons__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
@supports not (column-gap: 1rem) {
  .header__buttons__wrap > * {
    margin-right: 1rem;
  }
  .header__buttons__wrap > *:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 760px) {
  .header__nav {
    margin-bottom: 2rem;
  }
  .header__nav__list {
    max-width: 46rem;
    font-family: "GoogleSans";
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
    color: #212832;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .header__content {
    background-image: url("./../../img/header/header-Image.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  .header__content__wrap {
    max-width: 35rem;
  }
  .header__content__wrap .h1 .underscore::before {
    bottom: 0;
    left: -20px;
    width: 185px;
    height: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav {
    margin-bottom: 2rem;
  }
  .header__nav__list {
    max-width: 46rem;
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
    color: #212832;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .header__nav__login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__nav .menu {
    display: none;
  }
  .header__content__wrap {
    padding-top: 9rem;
    padding-bottom: 11.7rem;
    max-width: 45rem;
  }
  .header__content__wrap .p-header-heading {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 1rem;
  }
  .header__content__wrap .h1 {
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 1rem;
  }
  .header__content__wrap .h1 .underscore::before {
    bottom: 10px;
    left: -30px;
    width: 285px;
    height: 12px;
  }
  .header__content__wrap .p-header-description {
    font-size: 16px;
    margin-bottom: 3rem;
    max-width: 47.7rem;
  }
  .header__buttons {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3.4rem;
  }
  @supports not (column-gap: 3.4rem) {
    .header__buttons > * {
      margin-right: 3.4rem;
    }
    .header__buttons > *:last-child {
      margin-right: 0;
    }
  }
}
@media screen and (min-width: 1440px) {
  .header__nav__login {
    column-gap: 2rem;
  }
  .header__content__wrap {
    padding-top: 11.2rem;
    padding-bottom: 11.7rem;
    max-width: 63rem;
  }
  .header__content__wrap .p-header-heading {
    margin-bottom: 2.4rem;
  }
  .header__content__wrap .h1 {
    font-size: 84px;
    line-height: 89px;
    margin-bottom: 3rem;
  }
  .header__content__wrap .h1 .underscore::before {
    bottom: 15px;
    left: -35px;
    width: 385px;
    height: 12px;
  }
  .header__content__wrap .p-header-description {
    margin-bottom: 3.4rem;
  }
  .header__buttons {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.category__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.category__description__text {
  text-align: center;
  margin: 0 auto;
}
.category__description__header {
  margin-top: 1rem;
}
.category__description__stars {
  display: none;
  position: absolute;
  top: 0;
  right: -1rem;
}
.category__services__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category__services__list__item img {
  width: 130px;
}

@media screen and (min-width: 900px) {
  .category__description__title {
    font-size: 18px;
    line-height: 27px;
  }
  .category__description__header {
    font-size: 50px;
    line-height: 65px;
  }
  .category__description__stars {
    display: block;
  }
  .category__services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.subscribe {
  margin-top: 5rem;
}
.subscribe__background {
  position: relative;
  max-width: 125rem;
  padding-top: 7rem;
  background-image: url(./../img/subscribe/Rectangle\ 164.svg);
  background-repeat: no-repeat;
}
.subscribe__circles-left {
  position: absolute;
  top: 11rem;
  left: -9rem;
  z-index: -1;
}
.subscribe__circles-right {
  display: none;
  position: absolute;
  top: 0rem;
  right: 8rem;
  z-index: -1;
}
.subscribe__mail-icon {
  position: absolute;
  max-width: 7rem;
  top: -1rem;
  right: 2rem;
}
.subscribe__stars {
  display: none;
  position: absolute;
  bottom: -3rem;
  right: -7rem;
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.subscribe__info__text {
  padding: 0 1rem;
  max-width: 86rem;
  text-align: center;
}
.subscribe__info .btn__tertiary {
  margin-top: 4rem;
}

@media screen and (min-width: 400px) {
  .subscribe__background {
    padding: 9rem 1rem;
  }
  .subscribe__circles-left {
    top: 4rem;
    left: -9rem;
  }
  .subscribe__info__input .input__contact {
    width: 30rem;
  }
}
@media screen and (min-width: 600px) {
  .subscribe__background {
    padding: 10rem 1rem;
  }
  .subscribe__circles-left {
    top: 4rem;
    left: -9rem;
  }
  .subscribe__info__input .input__contact {
    width: 40rem;
  }
  .subscribe__info .label {
    top: 1.7rem;
    left: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .subscribe .p_subscribe {
    font-size: 33px;
    line-height: 54px;
  }
  .subscribe__background {
    padding: 10rem 1rem;
  }
  .subscribe__mail-icon {
    top: -1rem;
    right: -3rem;
  }
  .subscribe__circles-left {
    top: 4rem;
    left: -9rem;
  }
  .subscribe__circles-right {
    display: block;
    top: 0rem;
    right: 0rem;
  }
  .subscribe__stars {
    display: block;
  }
  .subscribe__info__input {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .subscribe__info__input .input__contact {
    font-size: 1.7rem;
    border-radius: 1rem;
    width: 45rem;
  }
  .subscribe__info__input .btn__tertiary {
    margin-top: 0;
  }
  .subscribe__info .label {
    top: 2.7rem;
    left: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__mail-icon {
    right: -1rem;
  }
  .subscribe__circles-right {
    display: block;
    top: 0rem;
    right: 2rem;
  }
}
.footer {
  margin-top: 7rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer__head__sentence {
  max-width: 20rem;
  margin-top: 1rem;
}
.footer__lists {
  margin-top: 5rem;
}
.footer__list {
  margin-bottom: 2rem;
}
.footer__list-title {
  margin-bottom: 2rem;
}
.footer__list-item {
  margin-bottom: 1rem;
  cursor: pointer;
}
.footer__list-item:last-child {
  margin-bottom: 4rem;
}
.footer__social {
  margin: 0 auto;
  cursor: pointer;
}
.footer__social__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 162rem;
  height: 4rem;
}
.footer__social__media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 22px;
  cursor: pointer;
}
.footer__social__text {
  margin: 2rem 0 2rem 0;
}
.footer__copyright {
  width: 21rem;
  margin: 3rem auto;
}

@media screen and (min-width: 600px) {
  .footer__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__list {
    margin: 0 0 0 9rem;
  }
  .footer__list:first-child {
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    margin-top: 10rem;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__head__heading {
    font-size: 44px;
    line-height: 66px;
  }
  .footer__head__sentence {
    font-size: 13px;
    line-height: 16px;
  }
  .footer__lists {
    margin: 0;
  }
  .footer__list-title {
    font-size: 21px;
    line-height: 26px;
  }
  .footer__list-item {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__social {
    margin: 0;
  }
  .footer__social__text {
    font-size: 20px;
    line-height: 25px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

/*# sourceMappingURL=style.css.map */
