.brands {
    @include flex(column);
    padding-top: 12rem;
    margin-bottom: 14rem;

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        justify-items: center;
    }
}

// @media screen and (min-width: 600px) {
//     .brands {

//         &__list {
//             grid-template-columns: repeat(2, minmax(0, 1fr));
//         }
//     }
// }

// @media screen and (min-width: 900px) {
//     .brands {

//         &__list {
//             grid-template-columns: repeat(3, minmax(0, 1fr));
//         }
//     }
// }

// @media screen and (min-width: 1200px) {
//     .brands {

//         &__list {
//             grid-template-columns: repeat(5, minmax(0, 1fr));
//         }
//     }
// }