.category {
  &__description {
    @include flex(row, space-between, center);
    margin: 0 auto;

    &__text {
      text-align: center;
      margin: 0 auto;
    }

    &__header {
      margin-top: 1rem;
    }

    &__stars {
      display: none;
      position: absolute;
      top: 0;
      right: -1rem;
    }
  }

  &__services {
    &__list {
      @include flex(column, center, center);

      &__item {
        img {
          width: 130px;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .category {
    &__description {
      &__title {
        font-size: 18px;
        line-height: 27px;

        &--left {
          text-align: left
        }
      }

      &__header {
        font-size: 50px;
        line-height: 65px;

        &--left {
          text-align: left
        }
      }

      &__stars {
        display: block;
      }
    }

    &__services {
      &__list {
        @include flex(row, space-between, center);
      }
    }
  }
}