.footer {
  margin-top: 7rem;

  &__wrapper {
    @include flex(column, center, center);
    margin: 0 auto;
  }

  &__head {
    &__sentence {
      max-width: 20rem;
      margin-top: 1rem;
    }
  }

  &__lists {
    margin-top: 5rem;
  }

  &__list {
    margin-bottom: 2rem;

    &__title {
      margin-bottom: 2rem;
    }

    &__item {
      margin-bottom: 1rem;
      cursor: pointer;
    }

    &__item:last-child {
      margin-bottom: 4rem;
    }
  }

  &__social {
    margin: 2rem auto;
    cursor: pointer;


    &__wrapper {
      @include flex(row, space-between, center);
      max-width: 162rem;
      height: 4rem;
    }

    &__media {
      @include flex(row, center, center);
      width: 41px;
      height: 41px;
      box-shadow: $bs-media;
      border-radius: 22px;
      cursor: pointer;
    }

    &__text {
      text-align: center;
      margin: 3rem 0 3rem 0;
    }
  }

  &__copyright {
    width: 18rem;
    margin: 3rem auto;
  }
}

@media screen and (min-width: 600px) {
  .footer {
    &__lists {
      @include flex(row, space-around, center)
    }

    &__list {
      margin: 0 0 0 9rem;
    }

    &__list:first-child {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    margin-top: 10rem;

    &__wrapper {
      @include flex(row, space-between, flex-start)
    }

    &__head {
      &__heading {
        font-size: 44px;
        line-height: 66px;
      }

      &__sentence {
        font-size: 13px;
        line-height: 16px;
      }
    }

    &__lists {
      margin: 0;
    }

    &__list {
      &__title {
        font-size: 21px;
        line-height: 26px;
      }

      &__item {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__social {
      margin: 0;

      &__title {
        font-size: 20px;
        line-height: 25px;
      }
    }

    &__item {
      font-size: 14px;
      line-height: 17px;
    }
  }
}