.header {
    padding-top: 2rem;
    margin-bottom: 10rem;

    &__nav {
        @include flex(row, space-between);
        margin-bottom: 4rem;

        &__list {
            display: none;
        }

        &__login {
            display: none;
        }

        <<<<<<< HEAD .menu {
            width: 35px;
            height: 35px;
            fill: $col-nav-500;
            cursor: pointer;
        }

        =======>>>>>>>7e46d9f87bb01fca141054020754aaa838b785f5
    }

    &__content {
        &__wrap {
            max-width: 42.5rem;

            <<<<<<< HEAD .p-header-heading {
                =======.text-xxl {
                    >>>>>>>7e46d9f87bb01fca141054020754aaa838b785f5 font-size: 16px;
                    line-height: 25px;
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                }

                .h1 {
                    font-size: 38px;
                    line-height: 50px;
                    margin-bottom: 1rem;

                    .underscore {
                        &::before {
                            bottom: 0px;
                            left: -20px;
                            width: 200px;
                            height: 12px;
                        }
                    }
                }

                <<<<<<< HEAD .p-header-description {
                    font-size: 14px;

                    =======.text-sm {
                        font-size: 14px;
                        line-height: 25px;
                        >>>>>>>7e46d9f87bb01fca141054020754aaa838b785f5 margin-bottom: 3rem;
                    }
                }
            }


            &__buttons {
                @include flex(column, center, start);
                @include gap(2rem);

                &__wrap {
                    @include flex;
                    @include gap(false, 1rem);
                }
            }
        }

        @media screen and (min-width: 760px) {
            .header {
                &__nav {
                    margin-bottom: 2rem;

                    <<<<<<< HEAD &__list {
                        max-width: 46rem;
                        @include font(17px, 21px, 500, $col-nav-900, $font-quaternary);
                        @include flex(row, space-between);
                        flex-grow: 1;
                    }
                }

                =======&__list {
                    max-width: 46rem;
                    @include font(17px, 21px, 400, $col-nav-900, $font-quaternary);
                    @include flex(row, space-between);
                    flex-grow: 1;

                    &__item {
                        @include font(17px, 22px, $col-nav-900, $font-quaternary);
                        font-weight: 400;
                        cursor: pointer;
                    }
                }
            }

            >>>>>>>7e46d9f87bb01fca141054020754aaa838b785f5 &__content {
                @include decore(url('./../img/header/header-Image.svg'), contain, no-repeat, right);

                &__wrap {
                    max-width: 35rem;

                    .h1 {
                        .underscore {
                            &::before {
                                bottom: 0;
                                left: -20px;
                                width: 185px;
                                height: 12px;
                            }
                        }
                    }

                    .header__buttons__wrap {
                        .text-lg {
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }


    @media screen and (min-width: 1024px) {
        .header {
            &__nav {
                margin-bottom: 2rem;

                &__list {
                    max-width: 46rem;
                    @include font(17px, 21px, 500, $col-nav-900);
                    @include flex(row, space-between);
                    flex-grow: 1;
                }

                &__login {
                    @include flex;
                }

                .menu {
                    display: none;
                }
            }

            &__content {
                &__wrap {
                    padding-top: 9rem;
                    padding-bottom: 11.7rem;
                    max-width: 45rem;

                    .text-xxl {
                        font-size: 20px;
                        line-height: 30px;
                        margin-bottom: 1rem;
                    }

                    .h1 {
                        font-size: 58px;
                        line-height: 70px;
                        margin-bottom: 1rem;

                        .underscore {
                            &::before {
                                bottom: 10px;
                                left: -30px;
                                width: 285px;
                                height: 12px;
                            }
                        }
                    }

                    .text-sm {
                        font-size: 16px;
                        line-height: 30px;
                        margin-bottom: 3rem;
                        max-width: 47.7rem;
                    }
                }
            }

            &__buttons {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                @include gap(false, 3.4rem, 1024px);
            }
        }
    }

    @media screen and (min-width: 1440px) {
        .header {
            &__nav {
                &__login {
                    @include gap(false, 2rem);
                }
            }

            &__content {
                &__wrap {
                    padding-top: 11.2rem;
                    padding-bottom: 11.7rem;
                    max-width: 63rem;

                    .text-md {
                        margin-bottom: 2.4rem;
                    }

                    .h1 {
                        font-size: 84px;
                        line-height: 89px;
                        margin-bottom: 3rem;

                        .underscore {
                            &::before {
                                bottom: 15px;
                                left: -35px;
                                width: 385px;
                                height: 12px;
                            }
                        }
                    }

                    .text-sm {
                        margin-bottom: 3.4rem;
                    }
                }
            }

            &__buttons {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }