.container__steps{
    align-self: start;
    .step {
        @include flex(row, center, center);
        // flex-flow: column wrap;
        margin: 2.4rem 0;
    
        &__icon {
            max-width: 48px;
            margin-right: 2rem;
        }
    
        &__content{
            @include flex(column, center,left);
            max-width: 32.8rem;
            &>:nth-child(n){
                margin-bottom: .4rem;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .step{
        align-self: left;
    }
}