.subscribe {
  position: relative;
  max-width: 125rem;
  padding: 9rem 1rem 2rem 1rem;
  @include decore (url('./../img/subscribe/Rectangle\ 164.svg'), cover, no-repeat);
  margin-bottom: 15rem;


  &__circles-left {
    position: absolute;
    top: 7rem;
    left: -9rem;
    z-index: -1;
  }

  &__circles-right {
    display: none;
    position: absolute;
    top: 0rem;
    right: 8rem;
    z-index: 1;
  }

  &__mail-icon {
    position: absolute;
    max-width: 7rem;
    top: -1rem;
    right: auto;
  }

  &__stars {
    display: none;
    position: absolute;
    bottom: 4rem;
    right: -7rem;
  }

  &__info {
    @include flex(column, space-between, center);

    &__text {
      text-align: center;
    }
  }
}

@media screen and (min-width: 600px) {
  .subscribe {
    &__background {
      padding: 10rem 1rem;
    }
  }
}


@media screen and (min-width: 900px) {
  .subscribe {
    padding: 10rem 1rem;

    &__mail-icon {
      top: -3rem;
      right: 1rem;
    }

    &__circles-left {
      top: 13rem;
    }

    &__circles-right {
      display: block;
      top: 0rem;
      right: 0rem;
    }

    &__stars {
      display: block;
      bottom: -7rem;
      right: -10rem
    }
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    &__mail-icon {
      right: -2rem;
    }
  }
}