.box {
    position: relative;

    &__card {
        position: relative;
        max-width: 40rem;
        padding: 2rem;
        margin-bottom: 35rem;

        &__name {
            padding: 2.6rem 0 1.3rem 0;
        }

        &__buttons {
            padding: 2.1rem 0 3rem 0;

            .btn__card {
                padding-right: 1.5rem;
            }
        }

        &__info {
            @include flex(row, flex-start, center);
            padding-bottom: 3rem;
            max-width: 100%;

            .card__summary {
                padding-left: 1.5rem;
            }
        }

        &__small {
            @include flex(row, flex-start, flex-start);
            position: absolute;
            top: 0;
            left: 0;
            max-width: 26.3rem;
            border-radius: 1.8rem;
            padding: 2rem;
            z-index: 1;
            background-color: $col-white;

            .trip__card {
                padding-left: 1.2rem;

                .card__name {
                    padding: .6rem 0 1.4rem 0;
                }

                .trip__completition {
                    @include flex(row, flex-start, center);

                    .text__black {
                        color: $col-black;
                    }

                    .text__blue {
                        color: $col-text-300;
                        padding-right: .3rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {}