.blot {
    @include decore(url('./../../img/header/Decore.svg'), contain, no-repeat, top right);
}

@media screen and (min-width: 700px) {
    .blot {
        background-size: auto;
    }
}

.underscore {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 15px;
        left: -35px;
        z-index: -1;
        width: 385px;
        height: 12px;
        @include decore(url(./../../img/header/underscore.svg), contain, no-repeat);

    }
}