.blot {
    @include decore(url('./../img/header/Decore.svg'), contain, no-repeat, top right);
}

@media screen and (min-width: 700px) {
    .blot {
        background-size: auto;
    }
}

.underscore {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 15px;
        left: -35px;
        z-index: -1;
        width: 385px;
        height: 12px;
        @include decore(url(./../img/header/underscore.svg), contain, no-repeat);

    }
}

.circles {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 47px;
        right: -62px;
        z-index: -1;
        width: 96px;
        height: 252px;
        @include decore(url(./../img/destination/Decore.svg), contain, no-repeat);
    }

    &:hover {
        .circles::before {
            z-index: -3;
        }
    }
}