.blot {
    @include decore(url('./../img/header/Decore.svg'), contain, no-repeat, top right);
}

@media screen and (min-width: 700px) {
    .blot {
        background-size: auto;
    }
}

.underscore {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 15px;
        left: -35px;
        z-index: -1;
        width: 385px;
        height: 12px;
        @include decore(url(./../img/header/underscore.svg), contain, no-repeat);
    }
}

.glow {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 35.4rem;
        height: 36.7rem;
        z-index: -99;
        background: #59B1E6;
        opacity: 0.4;
        filter: blur(150px);
        top: -19px;
        right: -44px;
    }
}

.circles {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 47px;
        right: -62px;
        z-index: -1;
        width: 96px;
        height: 252px;
        @include decore(url(./../img/destination/Decore.svg), contain, no-repeat);
    }
}