.dropdown-wrap {

    .arrow-down {
        transition: all 0.2s;
    }

    .arrow-rotate {
        transform: rotate(-180deg);
        top: 32px;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;

        &--active {
            display: block;

        }

        &__element {
            max-width: 65px;
            padding: 0.9rem 2.9rem 0.9rem 1.8rem;
            background-color: transparent;
            @include font(17px, 21px, 400, $col-nav-900, $font-quaternary);
            color: $col-nav-900;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                    0 1px 2px rgba(0, 0, 0, 0.24);
                border-radius: 5px;
            }
        }
    }
}