.social-icon {
  width: 16px;
  height: 16px;
}

.instagram {
  fill: $col-white;
  background: $bg-rainbow;
}

.menu {
  width: 35px;
  height: 35px;
  fill: $col-nav-500;
  cursor: pointer;
}

.navigation {
  position: relative;
  padding-left: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0;
    top: 2px;
    margin-right: 1rem;
    background-image: url("./../img/destination/Vector.svg");
  }
}

.arrow-down {
  position: absolute;
  right: 30px;
  top: 27px;
  @include font(17px, 21px, 400, $col-nav-900, $font-quaternary);
}