.social-icon {
  width: 16px;
  height: 16px;
}

.instagram {
  fill: $col-white;
  background: $bg-rainbow;
}

.menu {
  width: 35px;
  height: 35px;
  fill: $col-nav-500;
  cursor: pointer;
}

.heart {
  height: 2rem;
  width: 4rem;
  margin-left: auto;
  stroke: $col-text-350;
  stroke-width: 3;
  fill: none;

  &:active {
    fill: $col-text-350;
  }
}