.social-icon {
  width: 16px;
  height: 16px;
}

.instagram {
  fill: $col-white;
  background: $bg-rainbow;
}

.menu {
  width: 35px;
  height: 35px;
  fill: $col-black;
}

.arrow {
  width: 20px;
  height: 20px;
  padding: 0 !important;
}