.input {
  position: relative;
  @include flex(column, space-between, center);
  margin: 6rem 0;
  width: 25rem;

}

.input__contact {
  width: 100%;
  max-width: 43rem;
  padding: 1.5rem 3rem;
  background: $col-white;
  border: none;
  border-radius: 10px;
  margin-left: 2.4rem;

}

.input__contact::placeholder {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.label {
  position: absolute;
  top: 1.4rem;
  left: 2rem;
  cursor: text;

  img {
    color: $col-text-600;
    width: 15px;
  }
}

.input__contact:not(:placeholder-shown)+.label {
  opacity: 0;
}

.input__contact:focus {
  outline: none;
}

.input__contact:focus:invalid {
  background: $bg-red;
}

.input__contact:required:valid {
  background: $bg-green;
}

@media screen and (min-width: 900px) {
  .input {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 65rem;
  }

  .input__contact {
    font-size: 1.8rem;
    margin-left: 0;
  }

  .input__contact::placeholder {
    font-size: 1.8rem;
    padding-left: 1rem;
  }

  .label {
    top: 2rem;
    left: 0.7rem;

    img {
      width: 18px;
    }
  }
}