.bg__box {
  margin-top: 10rem;
  max-width: 23rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;

  h4 {
    margin-top: 2.9rem;
  }

  p {
    margin-top: 1.5rem;
  }
}

.bg__box:hover {
  background: $col-white;
  box-shadow: $bs-bg-box;
  border-radius: 36px;
}