.testimonials {
    @include flex(column, space-evenly, center);


    .dots {
        margin: 5rem 0 5rem 0;
    }

    .category__description__text {
        max-width: 40.2rem;
    }

    .box {
        &__title {
            max-width: 40.9rem;
        }

        .card {
            padding: 3rem;
            text-align: center;

            .text__md {
                padding: .5rem 0 1.4rem 0;
                line-height: 2.7rem;
                // text-align: center;
            }

            .card__photo {
                max-width: 6.8rem;
                position: absolute;
                top: -2rem;
            }

            &__name {
                padding: 0 0 .5rem 0;
            }

        }

        .arrow {


            &__disactivated {
                fill: grey;
            }
        }
    }

}


@media screen and (min-width: 900px) {
    .testimonials {

        .dots {
            margin-top: 8.2rem;
        }

        .box {
            .card {
                text-align: left;
                max-width: 50.8rem;
                padding: 2.8rem 6.8rem 3.4rem 3.4rem;

                .text__md {
                    padding: .5rem 0 1.4rem 0;
                    line-height: 3.2rem;
                }

                .card__photo {
                    max-width: 6.8rem;
                    position: absolute;
                    top: -2rem;
                    left: -2rem;
                }
            }
        }
    }
}