@font-face {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./../fonts/OpenSans-Light.ttf);

}

@font-face {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./../../fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./../../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./../../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./../../fonts/Poppins-Bold.ttf);
}


@font-face {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./../../fonts/Volkhov-Bold.ttf);
}