.h1 {
  @include font(84px, 89px, 700, $col-text-900, $font-tertiary);
}

.h2 {
  @include font(50px, 65px, 700, $col-text-800, $font-tertiary);
}

.h3 {
  @include font(18px, 27px, 600, $col-text-500, $font-secondary);
}

.h4 {
  @include font(20px, 27px, 600, $col-text-700, $font-primary);
}

.h5 {
  @include font(16px, 27px, 500, $col-text-500, $font-secondary);
}

.text-xs {
  @include font(12px, 16px, 500, $col-text-500, $font-secondary);
}

.text-sm {
  @include font (14px, 18px, 500, $col-text-500, $font-secondary);
}

.text-md {
  @include font(16px, 20px, 700, $col-text-400, $font-secondary);
}

.text-lg {
  @include font(17px, 22px, 400, $col-nav-900, $font-secondary);
}

.text-xl {
  @include font(18px, 22px, 500, $col-black, $font-secondary);
}

.text-xxl {
  @include font(20px, 30px, 700, $col-text-500, $font-secondary);
}

.font {
  &-light {
    font-weight: 300;
  }

  &-normal {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-semi_bold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }
}

.color {
  &-white {
    color: $col-white;
  }

  &-black {
    color: $col-black;
  }

  &-dark_blue {
    color: $col-text-900;
  }

  &-dark_grey {
    color: $col-nav-900;
  }

  &-grey {
    color: $col-nav-500;
  }

  &-orange {
    color: $col-orange-500;
  }

}


@media screen and (min-width: 400px) {
  .text__xl-600 {
    font-size: 20px;
    line-height: 43px;
  }
}

@media screen and (min-width: 600px) {
  .text__xl-600 {
    font-size: 26px;
    line-height: 46px;
  }
}

@media screen and (min-width: 900px) {
  .text__xl-600 {
    font-size: 33px;
    line-height: 54px;
  }
}