// colors
$col-white:#fff;
$col-background:#E5E5E5;



$col-yellow-500:#F1A501;

$col-orange-300:#FF946D;
$col-orange-400:#FF7D68;
$col-orange-500:#DF6951;

$col-eclipse:#D5AEE4;

$col-text-500:#5E6282;
$col-text-600:#39425D;
$col-text-700:#1E1D4C;
$col-text-800:#14183E;
$col-text-900:#181E4B;

$col-nav-500:#686D77;
$col-nav-900:#212832;
$col-black:#000;

// fonts
$font-primary:"OpenSans";
$font-secondary:"Poppins";
$font-tertiary:"Volkhov";
$font-quaternary:"GoogleSans";

// etc...

$shadow-orange: 0px 15px 30px rgba(223, 105, 81, 0.3);

// breakpointy